{% extends "master.html" %}
{% load static %}
{% block dropdowm %}
    <button class="dropbtn">{% if is_login == "true" %}{{ nickname }}{% else %}未登录{% endif %}</button>

    <div class="dropdown-content">
        {% if is_login == "true" %}
            <a href="/modify/nickname/{{ username }}/">修改昵称</a>
            <a href="/modify/password/{{ username }}/">修改密码</a>
            <a href="{% url 'enter:logout' %}">退出</a>
            <a href="{% url 'enter:login' %}">切换账号</a>
        {% else %}
            <a href="{% url 'enter:login' %}">登录</a>
            <a href="{% url 'enter:register' %}">注册</a>
        {% endif %}
    </div>

{% endblock %}
{% block menu-item %}
    <li class="menu-item current-menu-item"><a href="{% url 'home:select' %}">首页</a></li>
    <li class="menu-item"><a href="{% url 'home:douban_250' %}">榜单</a></li>
    <li class="menu-item"><a href="{% url 'home:recommend' %}">为你推荐</a></li>
    <li class="menu-item"><a href="{% url 'home:browse_records' %}">足迹</a></li>
{% endblock %}

{% block container %}
    <script type="text/javascript">
        function errorImg(img) {
            img.src = "{% static 'images/img_error.jpg' %}";
            img.onerror = null;
        }

        window.onload = function () {
            var url = document.location.href;
            if (url.split("?").length === 1) {
                url += "?page=1"
            }
            var div_select = document.getElementById("select");
            var ul_list = div_select.getElementsByTagName("ul");
            var a_list = [];
            var index = url.indexOf("&p=");
            var fileName = (index > 0 ? url.substring(0, index) : url) + "&p=";
            var p;
            if (index > 0) {
                p = url.substr(index + 3);
            }
            p = p ? p.split('-') : [0, 0];

            for (var i = 0; i < ul_list.length; i++) {
                a_list.push(ul_list[i].getElementsByTagName("a"));
                a_list[i][p[i] ? p[i] : 0].id = "current";
            }
            for (var i = 0; i < a_list[0].length; i++) {
                a_list[0][i].href = fileName + i + '-' + (p[1] ? p[1] : 0) + '-' + (p[2] ? p[2] : 0);
            }
            for (var i = 0; i < a_list[1].length; i++) {
                a_list[1][i].href = fileName + (p[0] ? p[0] : 0) + '-' + i + '-' + (p[2] ? p[2] : 0);
            }
            for (var i = 0; i < a_list[2].length; i++) {
                a_list[2][i].href = fileName + (p[0] ? p[0] : 0) + '-' + (p[1] ? p[1] : 0) + '-' + i;
            }

        }

    </script>
    <style type="text/css">
        #current {
            background: aquamarine;
        }
    </style>

    <div class="main-navigation" style="margin-bottom: 20px;">
        <div id="select">
            <div style="float: left;width: 5%;display: inline;margin-top: 7px;">类型：</div>
            <ul style="float: left;width: 95%;display: inline;">
                {% for item in TYPE %}
                    <li class="menu-item">
                        <a style="border-radius: 10px;">{{ item }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div style="float: left;width: 5%;display: inline;margin-top: 7px;">年份：</div>
            <ul style="float: left;width: 95%;display: inline;">
                {% for item in YEAR %}
                    <li class="menu-item">
                        <a style="border-radius: 10px;">{{ item }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div style="float: left;width: 7%;display: inline;margin-top: 7px;">排序方式：</div>
            <ul style="float: left;width: 90%;display: inline;">
                {% for item in SORT_METHOD %}
                    <li class="menu-item">
                        <a style="border-radius: 10px;">{{ item }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="movie-list">

        {% for item in all %}
            <div style="margin-bottom: 1px;" class="movie">
                <figure class="movie-poster">

                    <a href="/detail/{{ item.imdbid }}">
                        <img src="{% static 'IMDb_imgs/' %}{{ item.imdbid }}.jpg" alt="{{ item.title }}"
                        >
                    </a>
                </figure>
                <div style="float:left;display:inline;width: 50%;font-family: fantasy;text-shadow: 0 0 1px black;font-size: 15px;color: #131a20">
                    <p><i>{{ item.year }}</i></p>
                </div>
                <div class="star-rating" style="float:right;display:inline;">
                    <span style="width:{% widthratio item.score 1 10 %}%"></span>
                </div>
                <div style="margin-bottom: 1px;float:left;display:inline;width: 80%" class="movie-title"><a
                        href="/detail/{{ item.imdbid }}">{{ item.title }} </a></div>
                <div style="float:left;display:inline;width: 20%;height: 20%">
                    <p style="margin-right:25%;font-family: fantasy;text-shadow: 0 0 2px black;font-size: 25px;color: aqua">
                        <i>{{ item.score }}</i></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if all.has_previous %}
            <a class="page-number" href="?page={{ all.previous_page_number }}&p={{ p }}">
                <span class="page-number fa fa-angle-left"></span>
            </a>
        {% endif %}
        <a class="page-number" href="?page=1&p={{ p }}" aria-label="Previous"><span aria-hidden="true">首页</span>
        </a>
        {% if current_num > 6 %}
            <span class="page-number" aria-hidden="true">...</span>
        {% endif %}
        {% for i in page_range %}
            {% if current_num == i %}
                <a class="page-number current" href="?page={{ i }}&p={{ p }}">{{ i }}</a>
            {% else %}
                <a class="page-number" href="?page={{ i }}&p={{ p }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if current_num < tail_page_ellipsis %}
            <span class="page-number" aria-hidden="true">...</span>
        {% endif %}
        <a class="page-number" href="?page={{ tail_page }}&p={{ p }}" aria-label="Previous">
            <span aria-hidden="true">末页</span>
        </a>

        {% if all.has_next %}
            <a class="page-number" href="{{ url }}&page={{ all.next_page_number }}" aria-label="Next">
                <span class="fa fa-angle-right page-number"></span>
            </a>
        {% endif %}
    </div>
{% endblock %}
